.fact-display {
  display: flex;
  width: 80%;
  color: black;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 30px 0;
  border-radius: 19px;
  position: relative;
  height: 75vh;
}

.cat-specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.fact-img {
  min-width: 50%;
  margin: 20px;
  border-radius: 15px;
  object-fit: cover;
  max-height: 90%;
  min-height: 90%;
}

.name {
  font-size: xxx-large;
  font-weight: 900;
  margin-left: 20px;
}

.fact,
.dog-friendly,
.energy-level,
.affection-level,
.origin,
.temperament {
  font-size: large;
  font-weight: 600;
  overflow: scroll;
  margin-left: 20px;
}

.vote-icon {
  width: 80px;
  z-index: -1;
}

.vote-icon-container {
  color: rgba(255, 255, 255, 0.411);
}

@media (max-width: 1252px) {
  .fact,
  .temperament,
  .affection-level,
  .energy-level,
  .dog-friendly,
  .origin {
    display: none;
  }

  .fact-display {
    position: relative;
  }

  .name,
  .vote-icon-container {
    position: absolute;
  }

  .vote-icon-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .name {
    margin: 5px;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .vote-icon {
    z-index: 0;
  }

  .fact-img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: unset;
  }

  .arrow-box-right,
  .arrow-box-left {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 10%;
    height: 12%;
    bottom: 0%;
  }

  .arrow-box-right {
    right: 0%;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .arrow-box-left {
    left: 0%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}