.fact-page {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  height: 79vh;
}

.fact-display {
  background-color: white;
  border-radius: 15%;
}

.inactive-arrow-left {
  opacity: 0.2;
}

.arrow-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 50%;
  margin-right: 20px;
}

.inactive-arrow-left,
.arrow-left,
.arrow-right {
  width: 66px;
  height: 66px;
  position: absolute;
  bottom: 3%;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
}

.inactive-container {
  width: 86px;
  height: 86px;
  border-radius: 50px;
  margin: 20px;
}

.arrow-container:hover {
  cursor: pointer;
}

.inactive-container:hover {
  cursor: default;
}

.signals {
  color: white;
}

.custom-err {
  color: white;
}

@media (max-width: 1250px) {
  .fact-display{
    flex-direction: column;
  }

  .fav-card-btn,
  .new-fact-btn {
    width: 25%;
  }

  .inactive-arrow-left,
  .arrow-left,
  .arrow-right {
    bottom: 0%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .inactive-arrow-left,
  .arrow-left {
    left: 0%;
  }

  .arrow-right {
    right: 0%;
    margin: unset;
  }
}