.fact-page {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  height: 79vh;
}

.fact-display {
  background-color: white;
  border-radius: 15%;
}

.inactive-arrow-left {
  opacity: 0.2;
}

.arrow-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.inactive-arrow-left,
.arrow-left,
.arrow-right {
  width: 66px;
  height: 66px;
  border-radius: 50px; 
  margin: 20px;
  -webkit-filter: invert(1);
  filter: invert(1)
}

.arrow-left,
.arrow-right {
  cursor: pointer;
}

.inactive-container {
  width: 86px;
  height: 86px;
  border-radius: 50px;
  margin: 20px;
}

.arrow-container:hover {
  cursor: pointer;
}

.inactive-container:hover {
  cursor: default;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 30px;
  bottom: 18px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 30px;
  bottom: 18px;
}

.signals {
  color: white;
}

.custom-err {
  color: white;
}

@media (max-width: 1250px) {
  .fact-display{
    flex-direction: column;
  }

  .fav-card-btn,
  .new-fact-btn {
    width: 25%;
  }

  .inactive-arrow-left,
  .arrow-left,
  .arrow-right {
    position: absolute;
    bottom: 4.9%;
    z-index: 1;
    -webkit-filter: invert(0);
    filter: invert(0)
  }

  .inactive-arrow-left,
  .arrow-left {
    left: 9.3%;
  }

  .arrow-right {
    right: 9.3%;
  }
}