.fact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.fact-display {
  display: flex;
  width: 80%;
  color: white;
  align-items: center;
}

.fact,
.fact-img {
  width: 50%;
  height: 34em;
  margin: 0;
}

.fact {
  padding: 0 1em 1em;
  font-size: large;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: scroll;
}

.fact-img {
  object-fit: cover;
}

.button-container {
  display: flex;
  background-color: pink;
  justify-content: space-evenly;
  width: 100%;
  height: 10em;
}

.fav-card-btn,
.new-fact-btn {
  cursor: pointer;
  border-radius: 10px;
  width: 15%;
  height: 40%;
  background-color: #64c79f;
  border: 0;
  color: black;
  margin-top: 4em;
}

@media (max-width: 1250px) {
  .fact,
  .fact-img {
    height: 27em;
  }

  .fact-img {
    width: 100%;
  }

  .fact-display{
    flex-direction: column;
  }

  .fav-card-btn,
  .new-fact-btn {
    width: 35%;
  }
}