.hero {
  height: 39em;
  position: relative;
}

.hero-img {
  width: 100%;
  overflow: hidden;
  height: 125%;
  object-fit: cover;
}

@media (max-width: 750px) {
  .hero-img,
  .hero {
    position: relative;
  }  
}

/* @media (max-width: 584px) {
  .hero-img,
  .hero {
    height: 15em;
  } 
} */