.hero {
  height: 39em;
}

.hero-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 39em;
  object-fit: cover;
}

.fact-btn,
.fav-btn {
  position: absolute;
  bottom: 22%;
  cursor: pointer;
  border-radius: 10px;
  width: 15%;
  height: 5%;
  background-color: brown;
  border: 0;
  color: white;
}

.fact-btn {
  right: 30%;
  
}

.fav-btn {
  left: 30%;
}

@media (max-width: 847px) {
  .fact-btn,
  .fav-btn {
    width: 115px;
  }
} 

@media (max-width: 750px) {
  .fact-btn,
  .fav-btn {
    position: absolute;
    bottom: 5px;
    height: 25px;
  }

  .fact-btn {
  right: 5%;
  
  }

  .fav-btn {
    left: 5%;
  }  

  .hero-img,
  .hero {
    height: 27em;
    position: relative;
  }  
}

@media (max-width: 584px) {
  .hero-img,
  .hero {
    height: 15em;
  } 
}