.header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(7, 241, 218);
}

.logo {
  height: 135px;
  cursor: pointer;
  margin: 10px;
}

.app-title {
  font-size: xxx-large;
}

.link,
.logo-link {
  all: unset;
  cursor: pointer;
}

.link {
  margin: 5px;
  font-size: large;
  font-weight: 500;
}

.link:hover {
  color: rgb(244, 23, 23);
  background-color: black;
  border-radius: 2px;
}

.hidden {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

@media (min-width: 584px) {
  .hamburg {
    display: none;
  }
}

@media (max-width: 584px) {
  .app-title {
    text-align: center;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .hamburg {
    width: 2em;
    cursor: pointer;
  }

  .nav-links {
    display: none;
  }  
}   

