.header {
  display: flex;
  justify-content: space-evenly;
  background-color: 		#4b5d67;
  position: relative;
}

.logo {
  height: 135px;
  cursor: pointer;
  margin: 10px;
}

.logo:hover {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-title {
  font-size: xxx-large;
  transition: text-shadow 0.5s ease-in-out;
}

.app-title:hover {
  text-shadow: #ffffbf 0 0 20px, 
    #6effe4 0 0 40px;
}

.app-title:active {
  text-shadow: unset;
  transition: unset;
}

.link,
.logo-link {
  all: unset;
  cursor: pointer;
}

.link {
  margin: 5px;
  font-size: x-large;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.link:hover {
  color: rgb(255, 255, 255);
  border-bottom: solid 3px rgb(255, 255, 255);
}

.link:active {
  border-bottom: unset;
  color: unset;
}

.hidden {
  display: none;
}

.nav-links {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 820px) {
  .nav-links {
    display: none;
  } 

  .link {
    margin:10px;
  }

  .header {
    justify-content: space-between;
  }

  .app-title {
    margin-right: 6px;
  }
}

@media (max-width: 584px) {
  .app-title {
    text-align: center;
  }

  .logo {
    height: 100px;
    margin: 5px;
  }

  .header {
    align-items: center;
  } 
}   

