.header {
  display: flex;
  justify-content: space-evenly;
  background-color: 		#4b5d67;
}

.logo {
  height: 135px;
  cursor: pointer;
  margin: 10px;
}

.logo:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-title {
  font-size: xxx-large;
  transition: text-shadow 0.56s ease-in-out;
}

.app-title:hover {
  text-shadow: #ffffbf 0 0 20px, 
    #6effe4 0 0 40px;
}

.app-title:active {
  text-shadow: unset;
  transition: unset;
}

.link,
.logo-link {
  all: unset;
  cursor: pointer;
}

.link {
  margin: 5px;
  font-size: large;
  font-weight: 600;
}

.link:hover {
  color: rgb(255, 255, 255);
  border-bottom: solid 2px rgb(255, 255, 255);
  border-radius: 2px;
}

.link:active {
  border-bottom: unset;
  color: unset;
}

.hidden {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

@media (min-width: 584px) {
  .ham-menu-box {
    display: none;
  }
}

@media (max-width: 584px) {
  .app-title {
    text-align: center;
  }

  .logo {
    display: none;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .hamburg {
    width: 2em;
    cursor: pointer;
  }

  .nav-links {
    display: none;
  }  
}   

